<div class="container">
<h3>Show a list of anagrams for "<%= @word %>"</h3>

  <%= @ana %>
  <p></p>
  <form action="/" method="post">
    <input type="text" name="word">
    <input type="submit" value="Check for Anagrams">
  </form>


</div>
